.slider__wrapper {
    background-color: #000;
    width: 100%;
    height: auto;
    margin: 0 auto;
    align-items: center;
}

.slick-prev:before,
.slick-next:before {
    color: #066FC0 !important;
}